html,
body,
.main,
.right {
  height: 100%;
  margin: 0;
  background-color: #000;
}
.main{
  /*display: flex;*/
  width: auto;
  /* Flex-grow streches the main content to fill all available space. */
  flex-grow: 1;
}
.right {
  /*width: 70%;*/
  padding-top: 10px;
}
.header {
  /*color: #45e7ef;*/
  color: orange;
  padding-bottom: 10px
}
.list-view{
  width: 300px;
  position: absolute;
  -webkit-transform: translate(-300px, 0);
  transform: translate(-300px, 0);
  transition: transform 0.3 ease;
  color: orange;
  padding-top: 10px;
  font-family: 'Raleway', sans-serif;
}
.list-view.open{
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

.right.minimized{
  -webkit-transform: translate(300px, 0);
  transform: translate(300px, 0);
  width: auto;
  flex-grow: 1;
  transition: transform 0.3s ease;
}
#map {
  height: 100%;
  width:100%;
}
.hamburger{
  font-size: 2em;
  vertical-align: middle;
  margin-left: 5px;
}
ul {
  list-style-type: none;
  padding-left: 20px;
}
li{
  font-size: 16px;
  padding: 5px;
}
.filter-span{
  top: 0px;
  background-color: black;
  color: white;
  border-color: #3b3d3b;
}
.filter-input-group{
  width:95%;
  padding-left: 10px;
  margin:0 auto;
}
.mobile-filter-input-group{
  width:80%;
  display: inline-table;
  padding-left: 10px;
  margin:0 auto;
  vertical-align: middle;
}
.mobile-filter-input-group.visible{
  display: none;
}
.filter-input{
  background-color: #000;
  border-color: #3b3d3b;
}

@media (min-width: 600px) {
  .list-view {
    position: relative;
    /*left: -300px;*/
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  .right {
    /*-webkit-transform: translate(-300px, 0);
    transform: translate(-300px, 0);*/
    width: auto;
    /* Flex-grow streches the main content to fill all available space. */
    flex-grow: 1;
    transition: transform 0.3s ease;
  }
  .list-view.open {
    position: relative;
    /*left: -300px;*/
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  .right.minimized {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    width: auto;
    /* Flex-grow streches the main content to fill all available space. */
    flex-grow: 1;
    transition: transform 0.3s ease;
  }
  .main {
    width: auto;
    /* Flex-grow streches the main content to fill all available space. */
    flex-grow: 1;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row nowrap;
    flex-flow: row nowrap;
  }
  .hamburger{
    display:none;
  }
  .filter-input-group{
    width:95%;
    padding-left: 10px;
    margin:0 auto;
  }
  .mobile-filter-input-group{
    display: none;
  }
}
